<p>Μάρκα: {{ printItem.brand }}</p>
<p>Μοντέλο: {{ printItem.model }}</p>
<p>Όνομα: {{ printItem.name }}</p>
<p>Αριθμός Πλαισίου: {{ printItem.frame_number }}</p>
<p>Διαθεσιμότητα: {{ printItem.availability }}</p>
<p>Τοποθεσία: {{ printItem.location }}</p>
<p>Τιμή: {{ printItem.price }}</p>

<button
  (click)="printPage()"
  type="button"
  class="btn btn-secondary btn-link btn-lg btn-rounded"
>
  Εκτύπωση
</button>
