<mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile class="mgTile" *ngFor="let usedCar of usedCars">
        <div class="ucar">
            <img style="width: 100%" [src]="usedCar.firstPhoto" />
        </div>
        <mat-grid-tile-footer>
            <h4 style="color: red;">{{ usedCar.brand }} {{ usedCar.model }}</h4>
            <button (click)="deleteUsedCar(usedCar)" type="button" class="btn btn-warning">Διαγραφή</button>
        </mat-grid-tile-footer>
    </mat-grid-tile>
</mat-grid-list>