.addCarForm {
}

.addCarForm div {
  margin-bottom: 2%;
}

.addCarForm label {
  display: inline-block;
  width: 10%;
  color: #777777;
}

.addCarForm input {
    padding: 5px 10px;
}

.saveBtn {
  text-align: center;
  width: 100%;
  height: 10vh;
}

.container {
    margin-top: 20px;
}