<div class="container">
    <img style="width: 600px; height: 350px; float: right;" src="../../assets/images/spare_part.jpg"/>
    <form class="addCarForm" [formGroup]="usedCar" (ngSubmit)="onSubmit()">

        <div>
            <label for="brand">
                Μάρκα
            </label>
            <input id="brand" type="text" formControlName="brand">
        </div>

        <div>
            <label for="model">
                Μοντέλο
            </label>
            <input id="model" type="text" formControlName="model">
        </div>

        <div>
            <label for="price">
                Τιμή
            </label>
            <input id="price" type="number" formControlName="price">
        </div>

        <div>
            <label for="category">
                Κατηγορία
            </label>
            <input id="category" type="text" formControlName="category">
        </div>

        <div>
            <label for="date">
                Ημερομηνία
            </label>
            <input id="date" type="text" formControlName="date">
        </div>

        <div>
            <label for="kms">
                Χιλιόμετρα
            </label>
            <input id="kms" type="number" formControlName="kms">
        </div>

        <div>
            <label for="fuel">
                Καύσιμο
            </label>
            <input id="fuel" type="text" formControlName="fuel">
        </div>

        <div>
            <label for="cc">
                Κυβικά
            </label>
            <input id="cc" type="number" formControlName="cc">
        </div>

        <div>
            <label for="hp">
                Ιπποδύναμη
            </label>
            <input id="hp" type="number" formControlName="hp">
        </div>

        <div>
            <label for="sasman">
                Σασμάν
            </label>
            <input id="sasman" type="text" formControlName="sasman">
        </div>

        <div>
            <label for="color">
                Χρώμα
            </label>
            <input id="color" type="text" formControlName="color">
        </div>

        <div>
            <label for="doors">
                Πόρτες
            </label>
            <input id="doors" type="number" formControlName="doors">
        </div>

        <div>
            <label for="seats">
                Καθίσματα
            </label>
            <input id="seats" type="number" formControlName="seats">
        </div>

        <div>
            <label for="description">
                Περιγραφή
            </label>
            <textarea rows="6" cols="60" id="description" type="text" formControlName="description"></textarea>
        </div>

        <div class="photos">
            <label for="file"></label>
            <input id="file" type="file" multiple class="form-control" (change)="onFileChange($event)">
        </div>
        <button class="button btn btn-primary saveBtn" type="submit">Αποθήκευση</button>

    </form>
</div>