<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">
    Επεξεργασία {{ brand }} {{ model }} {{ name }}
  </h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modalRef.close()"
  ></button>
</div>
<div class="modal-body">
  <div class="modal-body">
    <div class="fields">
      <div>
        <p>Μάρκα:</p>
        <input id="edititembrand" type="text" value="{{ brand }}" />
      </div>
      <div>
        <p>Μοντέλο:</p>
        <input id="edititemmodel" type="text" value="{{ model }}" />
      </div>
      <div>
        <p>Όνομα:</p>
        <input id="edititemname" type="text" value="{{ name }}" />
      </div>
      <div>
        <p>Τιμή:</p>
        <input id="edititemprice" type="number" value="{{ price }}" />
      </div>
      <div>
        <p>Αριθμός (Πλαισίου):</p>
        <input id="edititemfn" type="text" value="{{ frame_number }}" />
      </div>
      <div>
        <p>Ποσότητα:</p>
        <input id="edititemquantity" type="number" value="{{ quantity }}" />
      </div>
      <div>
        <p>Τοποθεσία:</p>
        <input id="edititemlocation" placeholder="eg. Ράφι 2" type="text" value="{{ location }}" />
      </div>
      <div>
        <p>Κρυμμένο:</p>
        <input id="edititemhidden" type="checkbox" [(ngModel)]="is_visible" />
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
    Κλείσιμο
  </button>
  <button (click)="saveChanges()" type="button" class="btn btn-primary">Αποθήκευση</button>
</div>
