<header>
  <!-- Jumbotron -->
  <div class="p-5 text-center bg-light">
    <h1 class="mb-3">Διαχείρηση Αποθήκης v1.0.0</h1>
    <button type="button" class="btn btn-primary" style="float: right;" (click)="listUsedCars()">
      Λίστα Μεταχειρισμένων Αυτοκινήτων
    </button>
    <button type="button" class="btn btn-primary" style="float: right;" (click)="addUsedCar()">
      Προσθήκη Μεταχειρισμένου Αυτοκινήτου
    </button>
  </div>
  <!-- Jumbotron -->
</header>

<img *ngIf="!storageOpen" src="../../assets/images/arvid-skywalker-nYdD0pb4HZc-unsplash.jpg" class="img-fluid"
  alt="Wild Landscape" />

<div>
  <div *ngIf="storageOpen" class="center">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#addItemModal">
      Προσθήκη
    </button>
    <table class="table align-middle mb-0 bg-white">
      <thead class="bg-light">
        <div style="display: flex">
          <div class="input-group">
            <div class="form-outline">
              <input #searchBar type="search" id="form1" class="form-control" />
              <label class="form-label" for="form1">Αναζήτηση</label>
            </div>
            <button (click)="searchItems()" type="button" class="btn btn-info">
              <i class="fas fa-search"></i>
            </button>
          </div>
          <div class="dropdown">
            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton"
              data-mdb-toggle="dropdown" aria-expanded="false">
              {{ searchCategories.active }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li (click)="changeSearchCategory('option_one')">
                <a class="dropdown-item" href="#">{{
                  searchCategories.option_one
                  }}</a>
              </li>
              <li (click)="changeSearchCategory('option_two')">
                <a class="dropdown-item" href="#">{{
                  searchCategories.option_two
                  }}</a>
              </li>
              <li (click)="changeSearchCategory('option_three')">
                <a class="dropdown-item" href="#">{{
                  searchCategories.option_three
                  }}</a>
              </li>
            </ul>
          </div>
        </div>
        <button *ngIf="isFiltered" (click)="clearFilters()" type="button" class="btn btn-link btn-lg btn-rounded">
          Clear Filters
        </button>
        <tr>
          <th>Αναγνωριστικό</th>
          <th>Τίτλος</th>
          <th>Τιμή</th>
          <th>Κατάσταση</th>
          <th>Τοποθεσία</th>
          <th>Κρυμμένο</th>
          <th>Επιλογές</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of itemsArray.slice(previousList, currentList)">
          <td>
            <div class="d-flex align-items-center">
              <img src="../../assets/icons/icons8-accessories-96.png" alt="" style="width: 45px; height: 45px"
                class="rounded-circle" />
              <div class="ms-3">
                <p class="fw-bold mb-1">{{ item.id }}</p>
                <p class="text-muted mb-0">{{ item.brand }}</p>
                <p class="fw-normal mb-1">{{ item.model }}</p>
              </div>
              <div>
                <img *ngIf="item.photo_url" style="width: 50px; margin-left: 20px;" [src]="item.photo_url" />
                <img *ngIf="!item.photo_url" style="width: 50px; margin-left: 20px;"
                  src="../../assets/images/no-image.webp" />
              </div>
            </div>
          </td>
          <td>
            <p class="fw-normal mb-1">{{ item.name }}</p>
            <p class="text-muted mb-0">{{ item.frame_number }}</p>
          </td>
          <td>
            <p>{{ item.price }} (€)</p>
          </td>
          <td>
            <span *ngIf="item.availability > 0" class="badge badge-success rounded-pill d-inline">Διαθέσιμο ({{
              item.availability }})</span>
            <span *ngIf="item.availability === 0" class="badge badge-danger rounded-pill d-inline">Μη Διαθέσιμο ({{
              item.availability }})</span>
          </td>
          <td>{{ item.location }}</td>
          <td>{{ item.is_visible? 'Όχι' : 'Ναι' }}</td>
          <td>
            <button type="button" class="btn btn-link btn-sm btn-rounded" (click)="print(item)">
              Εκτύπωση
            </button>
            <button type="button" class="btn btn-link btn-sm btn-rounded" (click)="openModalEdit(item)">
              Επεξεργασία
            </button>
            <button (click)="deleteItem(item)" type="button" class="btn btn-link btn-sm btn-rounded">
              Διαγραφή
            </button>
          </td>
        </tr>
      </tbody>
      <!--<nav aria-label="Page navigation example">
        <ul class="pagination">
          <li (click)="goPrevious()" class="page-item">
            <a class="page-link" href="#">Προηγούμενο</a>
          </li>
          <li *ngFor="let page of pages" class="page-item">
            <a (click)="changePage(page)" class="page-link" href="#">{{
              page + 1
            }}</a>
          </li>
          <li (click)="nextList()" class="page-item">
            <a class="page-link" href="#">Επόμενο</a>
          </li>
        </ul>
      </nav>-->
      <mat-paginator (page)="handlePage($event)" [length]="itemsArray.length" [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page"></mat-paginator>
    </table>
  </div>
</div>

<!-- Modal New Item-->
<div #newItemModal class="modal fade" id="addItemModal" tabindex="-1" aria-labelledby="addItemModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addItemModalLabel">Νέο Αντικείμενο</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="newItemImage">
          <img src="../../assets/images/spare_part.jpg" />
        </div>
        <div class="fields">
          <div>
            <p>Μάρκα:</p>
            <input id="newitembrand" placeholder="eg. Peugeot" type="text" />
          </div>
          <div>
            <p>Μοντέλο:</p>
            <input id="newitemmodel" placeholder="eg. 208" type="text" />
          </div>
          <div>
            <p>Όνομα:</p>
            <input id="newitemname" placeholder="eg. Καθρέφτης αριστερός" type="text" />
          </div>
          <div>
            <p>Τιμή:</p>
            <input id="newitemprice" type="number" />
          </div>
          <div>
            <p>Αριθμός (Πλαισίου):</p>
            <input id="newitemfn" placeholder="eg. 98029971XX-0611071" type="text" />
          </div>
          <div>
            <p>Ποσότητα:</p>
            <input id="newitemquantity" placeholder="eg. 5" type="number" />
          </div>
          <div>
            <p>Τοποθεσία:</p>
            <input id="newitemlocation" placeholder="eg. Ράφι 2" type="text" />
          </div>
          <div>
            <p>Κρυμμένο:</p>
            <input id="newitemhidden" type="checkbox" />
          </div>
          <div class="photos">
            <label for="file"></label>
            <input id="file" type="file" class="form-control" (change)="onFileChange($event)">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="dismiss-modal" type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
          Κλείσιμο
        </button>
        <button (click)="saveItem()" type="button" class="btn btn-primary">
          Αποθήκευση
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>My Storage
          </h6>
          <p>
            <!-- Here you can use rows and columns to organize your footer content.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. -->
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Προϊόντα</h6>
          <p>
            <a href="#!" class="text-reset">Αυτοκίνητα</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Ανταλλακτικά</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Σέρβις</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Χρήσιμοι σύνδεσμοι</h6>
          <p>
            <a href="#!" class="text-reset">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Ρυθμίσεις</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Παραγγελίες</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Βοήθεια</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Επικοινωνία</h6>
          <p><i class="fas fa-home me-3"></i> Volos, Greece</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            mymail@mail.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 30 00000000</p>
          <p><i class="fas fa-print me-3"></i> + 30 00000000</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">DrVentr1s</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->